:root{
    --blue: #5da8ef;
	--cyan: #56adeb;
	--yellow: #ffeb3b;
	--purple: #e92df6;
	--dark-purple: #643295;
    --grey: #333333;
    --light-grey: #8f8f8f;
    --orange: #ff9236;
    --fail: #f5c0ba;
}
/*Resets*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
}
p {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
div, p, header, main, nav, body, html, form {
    box-sizing: border-box;
}
a, a:visited, a:active a:link{
    color: inherit;
    text-decoration: inherit; 
}
/* TEXT */
.text-blue {
    color: var(--blue);
}
.text-white {
    color: white;
}
.text-purple {
	color: var(--purple);
}
.text-darkpurple {
	color: var(--dark-purple);
}
.text-yellow {
	color: var(--yellow);
}
.text-cyan {
	color: var(--cyan);
}
.text-grey {
    color: var(--grey);
}
.text-light-grey {
    color: var(--light-grey);
}
.caps {
    text-transform: uppercase;
}
.lightest {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.bold {
    font-weight: 600;
}
.black {
    font-weight: 900;
}

.kerning {
    letter-spacing: 0.3em;
}
.p6 {
    padding: 10em 0;
}
.kerning1 {
    letter-spacing: 0.5em;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.font1 {
    font-family: Poppins;
}

.font2 {
    font-family: Playfair;
}

.font3 {
    font-family: LeagueSpartan;
}
.font4 {
    font-family: FingerPaint;
}
/* SIZE */
.small {
    font-size: 0.7rem;
}
.tiny {
    font-size: 0.5rem;
}
.text-1 {
    font-size: 1.2rem;
}
.text-2 {
    font-size: 1.6rem;
}
.text-3 {
    font-size: 1.8rem;
}
.big {
    font-size: 3em;
}
.bigger {
    font-size: 4em;
}
.large {
    font-size: 10em;
}

.title {
    font-size: 3em;
    font-weight: 600;
}
.title-1 {
    font-size: 2em;
	margin-bottom: 0.7em;
}
.title-2 {
	font-size: 2.2em;
	margin-bottom: 1em;
}

.underline {
    border-bottom: 2px solid;
}
.border {
    border: 2px solid;
}

.blue-border {
    border-color: var(--blue);
}
.darkpurple-border {
	border-color: var(--dark-purple);
}
.purple-border {
	border-color: var(--purple);
}
.orange-border {
	border-color: var(--orange);
}

.blue {
    background-color: var(--blue);
}
.purple {
	background-color: var(--purple);
}
.darkpurple {
	background-color: var(--dark-purple);
}
.yellow {
	background-color: var(--yellow);
}
.orange {
	background-color: var(--orange);
}

.flex {
    display: flex;
}

div#contact-form input[type='text'] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}
div#contact-form input[type='submit'] {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: var(--blue);
    color: white;
    border: 0;
    -webkit-appearance: none;
}
section#showcase div.products {
	flex-wrap: wrap;
}
div.products {
    display: flex;
    justify-content: center;
}
div.product {
    width: 250px;
    margin: 3em;
    position: relative;
}
div.product p.price {
    position: absolute;
    top: 170px;
    right: 1em;
}
img.product {
    width: 100%;
    height: 200px;
    margin: auto;
    display: block;
}

.carousel {
	width: fit-content;
	position: relative;
}
.carousel button {
	position: absolute;
}
