:root{
    --blue: #5da8ef;
    --grey: #333333;
    --light-grey: #8f8f8f;
}
/* FONTS */
/* POPPINS */
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Light.ttf);
    font-weight: 200 300;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 400 500;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
    font-weight: 500 600;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Black.ttf) format('truetype');
    font-weight: 700 900;
}
/* PLAYFAIR */
@font-face {
    font-family: "Playfair";
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: Playfair;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
    font-weight: 500 700
}
@font-face {
    font-family: Playfair;
    src: url(../font/Playfair_Display/PlafairDisplay-Black.ttf);
    font-weight: 800 900;
}
/* LEAGUES SPARTANS */
@font-face {
    font-family: "LeagueSpartan";
    src: url(../fonts/league-spartan-master/_webfonts/leaguespartan-bold.woff),
         url(../fonts/league-spartan-master/_webfonts/leaguespartan-bold.woff2),
         url(../fonts/league-spartan-master/_webfonts/leaguespartan-bold.ttf),
         url(../fonts/league-spartan-master/_webfonts/leaguespartan-bold.eot);
}

/* FINGER PAINT */
@font-face {
    font-family: "FingerPaint";
    src: url(../fonts/FingerPaint/FingerPaint-Regular.ttf);
}
/*Resets*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
div, p, header, main, nav, body, html {
    box-sizing: border-box;
}
a, a:visited, a:active {
    color: inherit;
    text-decoration: inherit; 
}

header {
    background-image: radial-gradient(circle at 0% 0%, rgba(233, 45, 246, 1), 20%, rgba(233, 45, 246, 0.001) 27%),
                      radial-gradient(circle at 50% 100%, rgba(233, 45, 246, 1), 20%, rgba(233, 45, 246, 0.001) 40%),
                      radial-gradient(circle at 3% 100%, rgb(88, 51, 235), 20%, rgba(198, 235, 51, 0.1) 25%),
                      radial-gradient(circle at 95% 0%, rgba(100, 50, 149, 1), 30%, rgba(100, 50, 149, 0.1) 40%),
                      radial-gradient(circle at 50% 40%, rgba(86, 173, 235, 1), 70%,rgba(86, 173, 235, 0.18));
    background-size: cover;
    min-height: 80vh;
    font-family: 'Times New Roman', Times, serif;
    padding: 3em 2em;
}

header>div {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav div li a {
    padding: 0.4em 3em;
    cursor: pointer;
}
nav div li a:hover {
    color: black;
    background-color: white;
}

nav img.logo {
    filter: saturate(500%) invert(1);
    height: 4em;
}
#headertitle {
    font-size: 14vw;
}
#headertext {
    border: 2px solid white;
    background-color: white;
    mix-blend-mode: screen;
    color: black;
}

section {
    padding: 3em;
}

footer {
    padding: 3em;
    color: white;
    background-image: url("/images/dark_embroidery.png");
}

/* TEXT */
.text-blue {
    color: var(--blue);
}
.text-grey {
    color: var(--grey);
}
.text-light-grey {
    color: var(--light-grey);
}
.caps {
    text-transform: uppercase;
}
.lightest {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.bold {
    font-weight: 600;
}
.black {
    font-weight: 900;
}

.kerning {
    letter-spacing: 0.3em;
}
.p6 {
    padding: 10em 0;
}
.kerning1 {
    letter-spacing: 0.5em;
}
.text-white {
    color: white;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.font1 {
    font-family: Poppins;
}

.font2 {
    font-family: Playfair;
}

.font3 {
    font-family: LeagueSpartan;
}
.font4 {
    font-family: FingerPaint;
}
/* SIZE */
.small {
    font-size: 0.7rem;
}
.tiny {
    font-size: 0.5rem;
}
.text-1 {
    font-size: 1.2rem;
}
.text-2 {
    font-size: 1.6rem;
}
.text-3 {
    font-size: 1.8rem;
}
.bigger {
    font-size: 2em;
}
.biggest {
    font-size: 4em;
}
.title {
    font-size: 3em;
    font-weight: 600;
}

.underline {
    border-bottom: 2px solid;
}
.border {
    border: 2px solid;
}

.blue-border {
    border-color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}

div#contact-form input[type='text'] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}
div#contact-form input[type='submit'] {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: var(--blue);
    color: white;
    border: 0;
    -webkit-appearance: none;
}
div.products {
    display: flex;
    justify-content: center;
}
div.product {
    width: 250px;
    margin: 3em;
    position: relative;
}
div.product p.price {
    position: absolute;
    top: 170px;
    right: 1em;
}
img.product {
    width: 100%;
    height: 200px;
    margin: auto;
    display: block;
}
